<div class="container">
<h1>Tasks</h1>
<ul class="list-group list-group-flush">
<% @tasks.each do |task|%>
<li class="list-group-item"><input type="checkbox" id="vehicle1">
  <%= link_to task.title, task_path(task) %>
  <%= link_to '<i class="far fa-trash-alt"></i>'.html_safe,
  task_path(task.id),
  method: :delete,
  data: {confirm: "Are you sure you want to delete this task?"} %>
  </li>
<% end %>
</ul>
<%= link_to "Create task", new_task_path %>
</div>
